---
---

@import "jekyll-theme-minimal";

/* Make profile picture smaller */
header img {
  max-width: 180px;
}

/* Hide "maintained by" text */
header p.view {
  display: none;
}

/* Show only the "View the Project on GitHub" link */
header p.view:last-of-type {
  display: block;
}

/* Style contact links */
header > p:first-of-type a {
  display: block;
  margin-bottom: 2px;
}
