---
---

@import "jekyll-theme-minimal";

.view {
  margin-top: 20px;
}

header p {
  line-height: 1.8;
  margin-bottom: 15px;
}

header p a {
  display: block;
  margin-bottom: 8px;
}

header .credits {
  margin-top: 30px;
}
