---
---

@import "jekyll-theme-minimal";

/* Hide "This project is maintained by" */
header > p.view:first-of-type {
  display: none;
}

/* Style the contact links */
header > p:first-of-type a {
  display: block;
  margin-bottom: 10px;
}

header > p:first-of-type {
  margin-bottom: 20px;
}

/* Fix bottom spacing */
.credits {
  margin-top: 15px;
}
